In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("colorectal_cancer_dataset.csv")
df

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,M,Localized,69,No,No,Yes,Overweight,...,Yes,No,54413,50,5,Urban,Developed,Moderate,Insured,Yes
1,2,UK,59,M,Localized,33,No,No,No,Overweight,...,Yes,No,76553,37,25,Urban,Developing,High,Uninsured,Yes
2,3,Japan,66,M,Regional,17,No,Yes,No,Normal,...,Yes,No,62805,54,27,Urban,Developed,Moderate,Uninsured,No
3,4,USA,83,M,Regional,14,No,No,No,Obese,...,Yes,No,89393,45,11,Urban,Developed,Moderate,Insured,Yes
4,5,France,66,M,Localized,34,No,Yes,No,Normal,...,Yes,No,66425,15,27,Urban,Developing,High,Insured,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167492,167493,USA,69,M,Localized,49,No,Yes,No,Overweight,...,No,Yes,100924,57,13,Rural,Developed,Moderate,Insured,Yes
167493,167494,USA,79,F,Regional,29,Yes,Yes,Yes,Overweight,...,Yes,Yes,90331,39,22,Urban,Developed,Low,Insured,Yes
167494,167495,USA,74,M,Metastatic,62,Yes,Yes,Yes,Normal,...,Yes,Yes,90631,13,19,Urban,Developing,Low,Insured,Yes
167495,167496,UK,68,F,Localized,35,No,Yes,Yes,Normal,...,Yes,No,114385,18,23,Urban,Developed,Moderate,Insured,Yes
167496,167497,France,79,F,Metastatic,67,Yes,No,No,Obese,...,Yes,Yes,47204,14,17,Rural,Developed,Low,Uninsured,Yes

In [3]:
df = df.iloc[:500]
df

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,M,Localized,69,No,No,Yes,Overweight,...,Yes,No,54413,50,5,Urban,Developed,Moderate,Insured,Yes
1,2,UK,59,M,Localized,33,No,No,No,Overweight,...,Yes,No,76553,37,25,Urban,Developing,High,Uninsured,Yes
2,3,Japan,66,M,Regional,17,No,Yes,No,Normal,...,Yes,No,62805,54,27,Urban,Developed,Moderate,Uninsured,No
3,4,USA,83,M,Regional,14,No,No,No,Obese,...,Yes,No,89393,45,11,Urban,Developed,Moderate,Insured,Yes
4,5,France,66,M,Localized,34,No,Yes,No,Normal,...,Yes,No,66425,15,27,Urban,Developing,High,Insured,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Australia,56,M,Localized,27,No,Yes,No,Normal,...,No,Yes,43968,15,17,Rural,Developed,Moderate,Insured,Yes
496,497,China,65,M,Metastatic,71,No,Yes,No,Obese,...,Yes,No,65013,46,27,Urban,Developing,Moderate,Uninsured,Yes
497,498,Canada,53,F,Regional,13,No,No,Yes,Obese,...,No,No,36864,33,8,Urban,Developed,Moderate,Insured,Yes
498,499,Pakistan,65,F,Localized,12,No,Yes,No,Overweight,...,Yes,Yes,90705,43,26,Urban,Developing,Moderate,Uninsured,Yes
499,500,France,61,F,Localized,34,Yes,No,No,Obese,...,Yes,Yes,99654,36,8,Urban,Developed,High,Insured,No

In [4]:
df.head()

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,M,Localized,69,No,No,Yes,Overweight,...,Yes,No,54413,50,5,Urban,Developed,Moderate,Insured,Yes
1,2,UK,59,M,Localized,33,No,No,No,Overweight,...,Yes,No,76553,37,25,Urban,Developing,High,Uninsured,Yes
2,3,Japan,66,M,Regional,17,No,Yes,No,Normal,...,Yes,No,62805,54,27,Urban,Developed,Moderate,Uninsured,No
3,4,USA,83,M,Regional,14,No,No,No,Obese,...,Yes,No,89393,45,11,Urban,Developed,Moderate,Insured,Yes
4,5,France,66,M,Localized,34,No,Yes,No,Normal,...,Yes,No,66425,15,27,Urban,Developing,High,Insured,Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Patient_ID                  500 non-null    int64
 1   Country                     500 non-null    object
 2   Age                         500 non-null    int64
 3   Gender                      500 non-null    object
 4   Cancer_Stage                500 non-null    object
 5   Tumor_Size_mm               500 non-null    int64
 6   Family_History              500 non-null    object
 7   Smoking_History             500 non-null    object
 8   Alcohol_Consumption         500 non-null    object
 9   Obesity_BMI                 500 non-null    object
 10  Diet_Risk                   500 non-null    object
 11  Physical_Activity           500 non-null    object
 12  Diabetes                    500 non-null    object
 13  Inflammatory_Bowel_Disease  500 non-null    object
 14  Genetic_Mutation            500 non-null    object
 15  Screening_History           500 non-null    object
 16  Early_Detection             500 non-null    object
 17  Treatment_Type              500 non-null    object
 18  Survival_5_years            500 non-null    object
 19  Mortality                   500 non-null    object
 20  Healthcare_Costs            500 non-null    int64
 21  Incidence_Rate_per_100K     500 non-null    int64
 22  Mortality_Rate_per_100K     500 non-null    int64
 23  Urban_or_Rural              500 non-null    object
 24  Economic_Classification     500 non-null    object
 25  Healthcare_Access           500 non-null    object
 26  Insurance_Status            500 non-null    object
 27  Survival_Prediction         500 non-null    object
dtypes: int64(6), object(22)
memory usage: 109.5+ KB

In [6]:
df.describe()

,Patient_ID,Age,Tumor_Size_mm,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K
count,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,69.24800,42.082000,71854.330000,33.100000,16.830000
std,144.481833,11.59359,21.827968,26946.762796,14.368957,7.155383
min,1.000000,30.00000,5.000000,25128.000000,10.000000,5.000000
25%,125.750000,60.00000,23.000000,48266.000000,21.000000,11.000000
50%,250.500000,69.00000,41.000000,73554.000000,33.000000,17.000000
75%,375.250000,79.00000,61.250000,94476.000000,46.000000,23.000000
max,500.000000,89.00000,79.000000,119822.000000,59.000000,29.000000

In [7]:
df.dtypes

Patient_ID                     int64
Country                       object
Age                            int64
Gender                        object
Cancer_Stage                  object
Tumor_Size_mm                  int64
Family_History                object
Smoking_History               object
Alcohol_Consumption           object
Obesity_BMI                   object
Diet_Risk                     object
Physical_Activity             object
Diabetes                      object
Inflammatory_Bowel_Disease    object
Genetic_Mutation              object
Screening_History             object
Early_Detection               object
Treatment_Type                object
Survival_5_years              object
Mortality                     object
Healthcare_Costs               int64
Incidence_Rate_per_100K        int64
Mortality_Rate_per_100K        int64
Urban_or_Rural                object
Economic_Classification       object
Healthcare_Access             object
Insurance_Status              object
Survival_Prediction           object
dtype: object

In [8]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [9]:
df.drop_duplicates(inplace=True)
df

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\1725291922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,M,Localized,69,No,No,Yes,Overweight,...,Yes,No,54413,50,5,Urban,Developed,Moderate,Insured,Yes
1,2,UK,59,M,Localized,33,No,No,No,Overweight,...,Yes,No,76553,37,25,Urban,Developing,High,Uninsured,Yes
2,3,Japan,66,M,Regional,17,No,Yes,No,Normal,...,Yes,No,62805,54,27,Urban,Developed,Moderate,Uninsured,No
3,4,USA,83,M,Regional,14,No,No,No,Obese,...,Yes,No,89393,45,11,Urban,Developed,Moderate,Insured,Yes
4,5,France,66,M,Localized,34,No,Yes,No,Normal,...,Yes,No,66425,15,27,Urban,Developing,High,Insured,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Australia,56,M,Localized,27,No,Yes,No,Normal,...,No,Yes,43968,15,17,Rural,Developed,Moderate,Insured,Yes
496,497,China,65,M,Metastatic,71,No,Yes,No,Obese,...,Yes,No,65013,46,27,Urban,Developing,Moderate,Uninsured,Yes
497,498,Canada,53,F,Regional,13,No,No,Yes,Obese,...,No,No,36864,33,8,Urban,Developed,Moderate,Insured,Yes
498,499,Pakistan,65,F,Localized,12,No,Yes,No,Overweight,...,Yes,Yes,90705,43,26,Urban,Developing,Moderate,Uninsured,Yes
499,500,France,61,F,Localized,34,Yes,No,No,Obese,...,Yes,Yes,99654,36,8,Urban,Developed,High,Insured,No

In [10]:
df['Gender'].unique()

array(['M', 'F'], dtype=object)

In [11]:
gen_dict = {'M':1, 'F':2}
df["Gender"]= df['Gender'].map(gen_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\455604110.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"]= df['Gender'].map(gen_dict)

In [12]:
df['Cancer_Stage'].unique()

array(['Localized', 'Regional', 'Metastatic'], dtype=object)

In [13]:
cs_dict = {'Localized':1, 'Regional':2, 'Metastatic':3}
df["Cancer_Stage"]= df['Cancer_Stage'].map(cs_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\1604914757.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Cancer_Stage"]= df['Cancer_Stage'].map(cs_dict)

In [14]:
df['Family_History'].unique()

array(['No', 'Yes'], dtype=object)

In [15]:
fh_dict = {'No':0, 'Yes':1}
df["Family_History"]= df['Family_History'].map(fh_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\2931656827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Family_History"]= df['Family_History'].map(fh_dict)

In [16]:
df['Alcohol_Consumption'].unique()

array(['Yes', 'No'], dtype=object)

In [17]:
ac_dict = {'No':0, 'Yes':1}
df["Alcohol_Consumption"]= df['Alcohol_Consumption'].map(ac_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\1680925469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Alcohol_Consumption"]= df['Alcohol_Consumption'].map(ac_dict)

In [19]:
df

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,1,1,69,0,No,1,Overweight,...,Yes,No,54413,50,5,Urban,Developed,Moderate,Insured,Yes
1,2,UK,59,1,1,33,0,No,0,Overweight,...,Yes,No,76553,37,25,Urban,Developing,High,Uninsured,Yes
2,3,Japan,66,1,2,17,0,Yes,0,Normal,...,Yes,No,62805,54,27,Urban,Developed,Moderate,Uninsured,No
3,4,USA,83,1,2,14,0,No,0,Obese,...,Yes,No,89393,45,11,Urban,Developed,Moderate,Insured,Yes
4,5,France,66,1,1,34,0,Yes,0,Normal,...,Yes,No,66425,15,27,Urban,Developing,High,Insured,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Australia,56,1,1,27,0,Yes,0,Normal,...,No,Yes,43968,15,17,Rural,Developed,Moderate,Insured,Yes
496,497,China,65,1,3,71,0,Yes,0,Obese,...,Yes,No,65013,46,27,Urban,Developing,Moderate,Uninsured,Yes
497,498,Canada,53,2,2,13,0,No,1,Obese,...,No,No,36864,33,8,Urban,Developed,Moderate,Insured,Yes
498,499,Pakistan,65,2,1,12,0,Yes,0,Overweight,...,Yes,Yes,90705,43,26,Urban,Developing,Moderate,Uninsured,Yes
499,500,France,61,2,1,34,1,No,0,Obese,...,Yes,Yes,99654,36,8,Urban,Developed,High,Insured,No

In [20]:
df['Obesity_BMI'].unique()

array(['Overweight', 'Normal', 'Obese'], dtype=object)

In [21]:
bmi_dict = {'Overweight':1, 'Normal':2, 'Obese':3}
df["Obesity_BMI"]= df['Obesity_BMI'].map(bmi_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\2762386423.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Obesity_BMI"]= df['Obesity_BMI'].map(bmi_dict)

In [22]:
df['Survival_5_years'].unique()

array(['Yes', 'No'], dtype=object)

In [24]:
sur_dict = {'Yes':1, 'No':0}
df["Survival_5_years"]= df['Survival_5_years'].map(sur_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\3794304070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Survival_5_years"]= df['Survival_5_years'].map(sur_dict)

In [25]:
df['Mortality'].unique()

array(['No', 'Yes'], dtype=object)

In [26]:
mor_dict = {'Yes':1, 'No':0}
df["Mortality"]= df['Mortality'].map(mor_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\899766555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Mortality"]= df['Mortality'].map(mor_dict)

In [27]:
df['Survival_Prediction'].unique()

array(['Yes', 'No'], dtype=object)

In [28]:
sur_p_dict = {'Yes':1, 'No':0}
df["Survival_Prediction"]= df['Survival_Prediction'].map(sur_p_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\1187374664.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Survival_Prediction"]= df['Survival_Prediction'].map(sur_p_dict)

In [29]:
df['Healthcare_Access'].unique()

array(['Moderate', 'High', 'Low'], dtype=object)

In [32]:
hlt_dict = {'Moderate':1, 'High':2, 'Low':0}
df["Healthcare_Access"]= df['Healthcare_Access'].map(hlt_dict)

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\3404416747.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Healthcare_Access"]= df['Healthcare_Access'].map(hlt_dict)

In [ ]:
df['Survival_Prediction'].unique()

In [ ]:
sur_p_dict = {'Yes':1, 'No':0}
df["Survival_Prediction"]= df['Survival_Prediction'].map(sur_p_dict)

In [33]:
df

,Patient_ID,Country,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,...,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Urban_or_Rural,Economic_Classification,Healthcare_Access,Insurance_Status,Survival_Prediction
0,1,UK,77,1,1,69,0,No,1,1,...,1,0,54413,50,5,Urban,Developed,1,Insured,1
1,2,UK,59,1,1,33,0,No,0,1,...,1,0,76553,37,25,Urban,Developing,2,Uninsured,1
2,3,Japan,66,1,2,17,0,Yes,0,2,...,1,0,62805,54,27,Urban,Developed,1,Uninsured,0
3,4,USA,83,1,2,14,0,No,0,3,...,1,0,89393,45,11,Urban,Developed,1,Insured,1
4,5,France,66,1,1,34,0,Yes,0,2,...,1,0,66425,15,27,Urban,Developing,2,Insured,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Australia,56,1,1,27,0,Yes,0,2,...,0,1,43968,15,17,Rural,Developed,1,Insured,1
496,497,China,65,1,3,71,0,Yes,0,3,...,1,0,65013,46,27,Urban,Developing,1,Uninsured,1
497,498,Canada,53,2,2,13,0,No,1,3,...,0,0,36864,33,8,Urban,Developed,1,Insured,1
498,499,Pakistan,65,2,1,12,0,Yes,0,1,...,1,1,90705,43,26,Urban,Developing,1,Uninsured,1
499,500,France,61,2,1,34,1,No,0,3,...,1,1,99654,36,8,Urban,Developed,2,Insured,0

In [39]:
df.drop(['Country', 'Urban_or_Rural', 'Economic_Classification', 'Insurance_Status'],axis=1, inplace=True)
df

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\407801426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['Country', 'Urban_or_Rural', 'Economic_Classification', 'Insurance_Status'],axis=1, inplace=True)

,Patient_ID,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,Diet_Risk,...,Screening_History,Early_Detection,Treatment_Type,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Healthcare_Access,Survival_Prediction
0,1,77,1,1,69,0,No,1,1,Low,...,Regular,Yes,Combination,1,0,54413,50,5,1,1
1,2,59,1,1,33,0,No,0,1,Moderate,...,Regular,No,Chemotherapy,1,0,76553,37,25,2,1
2,3,66,1,2,17,0,Yes,0,2,Low,...,Irregular,No,Chemotherapy,1,0,62805,54,27,1,0
3,4,83,1,2,14,0,No,0,3,High,...,Regular,No,Surgery,1,0,89393,45,11,1,1
4,5,66,1,1,34,0,Yes,0,2,Low,...,Never,Yes,Surgery,1,0,66425,15,27,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,56,1,1,27,0,Yes,0,2,Moderate,...,Irregular,Yes,Chemotherapy,0,1,43968,15,17,1,1
496,497,65,1,3,71,0,Yes,0,3,High,...,Never,Yes,Radiotherapy,1,0,65013,46,27,1,1
497,498,53,2,2,13,0,No,1,3,Moderate,...,Irregular,Yes,Chemotherapy,0,0,36864,33,8,1,1
498,499,65,2,1,12,0,Yes,0,1,High,...,Never,Yes,Surgery,1,1,90705,43,26,1,1
499,500,61,2,1,34,1,No,0,3,Moderate,...,Never,No,Surgery,1,1,99654,36,8,2,0

In [40]:
df.drop(['Treatment_Type', 'Early_Detection', 'Screening_History', 'Diet_Risk'],axis=1, inplace=True)
df

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\1934315580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['Treatment_Type', 'Early_Detection', 'Screening_History', 'Diet_Risk'],axis=1, inplace=True)

,Patient_ID,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Smoking_History,Alcohol_Consumption,Obesity_BMI,Physical_Activity,Diabetes,Inflammatory_Bowel_Disease,Genetic_Mutation,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Healthcare_Access,Survival_Prediction
0,1,77,1,1,69,0,No,1,1,Low,No,No,No,1,0,54413,50,5,1,1
1,2,59,1,1,33,0,No,0,1,Low,No,No,No,1,0,76553,37,25,2,1
2,3,66,1,2,17,0,Yes,0,2,Low,No,Yes,No,1,0,62805,54,27,1,0
3,4,83,1,2,14,0,No,0,3,Low,No,No,No,1,0,89393,45,11,1,1
4,5,66,1,1,34,0,Yes,0,2,Moderate,No,Yes,No,1,0,66425,15,27,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,56,1,1,27,0,Yes,0,2,Moderate,Yes,No,No,0,1,43968,15,17,1,1
496,497,65,1,3,71,0,Yes,0,3,Moderate,No,No,No,1,0,65013,46,27,1,1
497,498,53,2,2,13,0,No,1,3,Low,No,No,No,0,0,36864,33,8,1,1
498,499,65,2,1,12,0,Yes,0,1,Moderate,No,No,No,1,1,90705,43,26,1,1
499,500,61,2,1,34,1,No,0,3,Moderate,No,No,No,1,1,99654,36,8,2,0

In [42]:
df.drop(['Smoking_History', 'Physical_Activity', 'Diabetes', 'Inflammatory_Bowel_Disease','Genetic_Mutation'],axis=1, inplace=True)
df

C:\Users\yasha\AppData\Local\Temp\ipykernel_13232\211685102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['Smoking_History', 'Physical_Activity', 'Diabetes', 'Inflammatory_Bowel_Disease','Genetic_Mutation'],axis=1, inplace=True)

,Patient_ID,Age,Gender,Cancer_Stage,Tumor_Size_mm,Family_History,Alcohol_Consumption,Obesity_BMI,Survival_5_years,Mortality,Healthcare_Costs,Incidence_Rate_per_100K,Mortality_Rate_per_100K,Healthcare_Access,Survival_Prediction
0,1,77,1,1,69,0,1,1,1,0,54413,50,5,1,1
1,2,59,1,1,33,0,0,1,1,0,76553,37,25,2,1
2,3,66,1,2,17,0,0,2,1,0,62805,54,27,1,0
3,4,83,1,2,14,0,0,3,1,0,89393,45,11,1,1
4,5,66,1,1,34,0,0,2,1,0,66425,15,27,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,56,1,1,27,0,0,2,0,1,43968,15,17,1,1
496,497,65,1,3,71,0,0,3,1,0,65013,46,27,1,1
497,498,53,2,2,13,0,1,3,0,0,36864,33,8,1,1
498,499,65,2,1,12,0,0,1,1,1,90705,43,26,1,1
499,500,61,2,1,34,1,0,3,1,1,99654,36,8,2,0

In [44]:
df.to_csv("clean_colorectal_cancer_dataset.csv")

In [45]:
df.dtypes

Patient_ID                 int64
Age                        int64
Gender                     int64
Cancer_Stage               int64
Tumor_Size_mm              int64
Family_History             int64
Alcohol_Consumption        int64
Obesity_BMI                int64
Survival_5_years           int64
Mortality                  int64
Healthcare_Costs           int64
Incidence_Rate_per_100K    int64
Mortality_Rate_per_100K    int64
Healthcare_Access          int64
Survival_Prediction        int64
dtype: object