In [21]:
import tensorflow as tf

In [22]:
import pandas as pd

In [23]:
import numpy as np

In [24]:
df=pd.read_csv('cleaned_bikes.csv')

In [25]:
df

      Unnamed: 0     price  kms_driven  owner  age  power  brand
0              0   35000.0     17654.0    1.0  3.0  110.0      1
1              1  119900.0     11000.0    1.0  4.0  350.0      2
2              2  600000.0       110.0    1.0  8.0  675.0      3
3              3   65000.0     16329.0    1.0  4.0  180.0      1
4              4   80000.0     10000.0    1.0  3.0  150.0      4
...          ...       ...         ...    ...  ...    ...    ...
7319        9362   25000.0     48587.0    1.0  8.0  150.0      6
7320        9369   35000.0     60000.0    1.0  9.0  220.0      7
7321        9370  450000.0      3430.0    1.0  4.0  750.0     15
7322        9371  139000.0     21300.0    1.0  4.0  400.0      7
7323        9372   80000.0      7127.0    1.0  5.0  220.0      7

[7324 rows x 7 columns]

In [26]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [27]:
df

         price  kms_driven  owner  age  power  brand
0      35000.0     17654.0    1.0  3.0  110.0      1
1     119900.0     11000.0    1.0  4.0  350.0      2
2     600000.0       110.0    1.0  8.0  675.0      3
3      65000.0     16329.0    1.0  4.0  180.0      1
4      80000.0     10000.0    1.0  3.0  150.0      4
...        ...         ...    ...  ...    ...    ...
7319   25000.0     48587.0    1.0  8.0  150.0      6
7320   35000.0     60000.0    1.0  9.0  220.0      7
7321  450000.0      3430.0    1.0  4.0  750.0     15
7322  139000.0     21300.0    1.0  4.0  400.0      7
7323   80000.0      7127.0    1.0  5.0  220.0      7

[7324 rows x 6 columns]

In [28]:
x=df.drop(['price'],axis=1)
y=df['price']

In [29]:
x

      kms_driven  owner  age  power  brand
0        17654.0    1.0  3.0  110.0      1
1        11000.0    1.0  4.0  350.0      2
2          110.0    1.0  8.0  675.0      3
3        16329.0    1.0  4.0  180.0      1
4        10000.0    1.0  3.0  150.0      4
...          ...    ...  ...    ...    ...
7319     48587.0    1.0  8.0  150.0      6
7320     60000.0    1.0  9.0  220.0      7
7321      3430.0    1.0  4.0  750.0     15
7322     21300.0    1.0  4.0  400.0      7
7323      7127.0    1.0  5.0  220.0      7

[7324 rows x 5 columns]

In [30]:
y

0        35000.0
1       119900.0
2       600000.0
3        65000.0
4        80000.0
          ...
7319     25000.0
7320     35000.0
7321    450000.0
7322    139000.0
7323     80000.0
Name: price, Length: 7324, dtype: float64

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [32]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [33]:
input_shape=x_train.shape[1]
input_shape

5

In [34]:

model = Sequential()
model.add(Dense(units=128, activation='relu', input_dim = input_shape))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=8, activation='relu'))

model.add(Dense(units=1, activation='linear'))

model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy', 'mae','mse'])

C:\Users\yasha\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [35]:
model.fit(x_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.0000e+00 - loss: 22084505600.0000 - mae: 83280.6172 - mse: 22084505600.0000
Epoch 2/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 21729308672.0000 - mae: 84801.9688 - mse: 21729308672.0000
Epoch 3/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 20650747904.0000 - mae: 84381.8359 - mse: 20650747904.0000
Epoch 4/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 22264113152.0000 - mae: 84752.4062 - mse: 22264113152.0000
Epoch 5/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 18735409152.0000 - mae: 73892.1875 - mse: 18735409152.0000
Epoch 6/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 15964837888.0000 - mae: 57387.9766 - mse: 15964837888.0000
Epoch 7/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 13762426880.0000 - mae: 54975.9844 - mse: 13762426880.0000
Epoch 8/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 13520513024.0000 - mae: 57729.9609 - mse: 13520513024.0000
Epoch 9/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 16297571328.0000 - mae: 60615.9023 - mse: 16297571328.0000
Epoch 10/10
184/184 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0000e+00 - loss: 13971570688.0000 - mae: 58219.3555 - mse: 13971570688.0000

In [39]:
pred = model.predict(x_test)

46/46 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [40]:
pred=np.ravel(pred)

In [41]:
pred

array([84619.94, 84619.94, 84619.94, ..., 84619.94, 84619.94, 84619.94],
      dtype=float32)

In [42]:
y_test

1552     14000.0
3655    950000.0
1366     23484.0
7283     20000.0
2677     97100.0
          ...
2219     70700.0
3907     75000.0
899      35500.0
3732    263000.0
287      82000.0
Name: price, Length: 1465, dtype: float64

In [43]:
pd.DataFrame({'Actual':y_test,'Predtiction':pred})

        Actual  Predtiction
1552   14000.0   84619.9375
3655  950000.0   84619.9375
1366   23484.0   84619.9375
7283   20000.0   84619.9375
2677   97100.0   84619.9375
...        ...          ...
2219   70700.0   84619.9375
3907   75000.0   84619.9375
899    35500.0   84619.9375
3732  263000.0   84619.9375
287    82000.0   84619.9375

[1465 rows x 2 columns]